@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

.restaurant-introducer h1, footer h1 {
  font-family: "Shrikhand", cursive;
}

html {
  font-size: medium;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.button {
  border-radius: 30px;
  background-color: #9356DC;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: white;
  padding: 15px 25px 15px 25px;
  box-shadow: 0px 6px 12px #a8a8a8;
}

.step {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  position: relative;
  background-color: whitesmoke;
  box-shadow: 0px 6px 12px #dbdbdb;
  border-radius: 22px;
  padding-top: 27px;
  padding-bottom: 27px;
  margin-left: 12px;
  margin-bottom: 22px;
}
.step .number {
  font-size: 0.9rem;
  position: absolute;
  left: -12px;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step .fas {
  font-size: 1.1rem;
  color: dimgray;
  margin-left: 35px;
  width: 12%;
}
.step .fa-mobile-alt {
  font-size: 1.35rem;
}
.step .text {
  font-weight: 500;
}
.step--violet {
  background-color: #f4eefc;
}
.step--violet .fas {
  color: #9356DC;
}

.restaurant-card {
  height: 250px;
  background-color: white;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0px 6px 12px #dbdbdb;
}
.restaurant-card__tag {
  position: absolute;
  top: 6%;
  right: 4%;
  background-color: #99E2D0;
  color: #26856d;
  padding: 6px 11px 6px 11px;
  border-radius: 2px;
  font-size: 0.85rem;
  font-weight: 500;
}
.restaurant-card .far {
  position: absolute;
  bottom: 12%;
  right: 8%;
  color: #353535;
  font-size: 1.55rem;
  font-weight: 200;
}
.restaurant-card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}
.restaurant-card h3 {
  margin: 0;
  padding-top: 15px;
  padding-left: 15px;
  margin-bottom: 5px;
}
.restaurant-card p {
  margin: 0;
  padding-left: 15px;
  font-weight: 300;
}

.dish {
  background-color: white;
  box-shadow: 0px 6px 12px #dbdbdb;
  border-radius: 16px;
  margin-bottom: 16px;
  padding: h3;
  padding-margin: 0;
  padding-padding: 0;
}
.dish p {
  margin: 0;
  padding: 0;
}
.dish .price {
  margin: 0;
  padding: 0;
  color: #353535;
  font-weight: bold;
}
.dish .fas {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}
header .logo {
  width: 43%;
  padding-bottom: 0;
}
header nav {
  position: absolute;
  left: 5%;
  font-size: 1.2rem;
}
header nav a {
  color: #353535;
}

footer {
  color: white;
  background-color: #353535;
  padding-top: 22px;
  padding-bottom: 27px;
}
footer h1, footer ul {
  width: 86%;
  margin: auto;
}
footer h1 {
  font-size: 1.15rem;
  font-weight: normal;
  margin-bottom: 17px;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
}
footer ul li {
  font-size: 1rem;
  margin-bottom: 8px;
}
footer ul li .fas {
  font-size: 0.8rem;
  margin-right: 6px;
}
footer ul li a {
  color: white;
}

.site-introducer {
  text-align: center;
  background-color: whitesmoke;
  padding-bottom: 70px;
}
.site-introducer__location {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background: linear-gradient(to top, #eaeaea, #eaeaea 90%, #cbcbcb);
  color: #353535;
  font-weight: 500;
}
.site-introducer__location .fas {
  margin-right: 12px;
}
.site-introducer h1 {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
}
.site-introducer h1 + p {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  font-weight: 300;
  font-size: 1.1rem;
  color: #353535;
}

.functionning-steps {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  margin-bottom: 65px;
}

.restaurants-list {
  background-color: whitesmoke;
  padding-top: 30px;
  padding-bottom: 30px;
}
.restaurants-list h2, .restaurants-list__container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.restaurant-introducer {
  height: 290px;
  position: relative;
}
.restaurant-introducer img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}
.restaurant-introducer h1 {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-top: 32px;
  padding-left: 22px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  font-size: 1.8rem;
  font-weight: normal;
}
.restaurant-introducer .far {
  font-size: 1.55rem;
  color: #353535;
}

.dishes-list {
  padding-top: 15px;
  background-color: whitesmoke;
}
.dishes-list h2, .dishes-list HR {
  margin-left: 6%;
}
.dishes-list h2 {
  font-size: 1rem;
  font-weight: 400;
  color: #353535;
  margin-bottom: 0;
}
.dishes-list HR {
  width: 11%;
  height: 3px;
  color: #99E2D0;
  background-color: #99E2D0;
  border: 0;
  margin-top: 5px;
}
.dishes-list__container {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1px;
}

.orderbutton-container {
  background-color: whitesmoke;
  padding-top: 45px;
  padding-bottom: 100px;
  text-align: center;
}
.orderbutton-container .button {
  padding-left: 50px;
  padding-right: 50px;
}

/*# sourceMappingURL=main.css.map */
