
header{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    position:relative;

    padding-top:15px;
    padding-bottom:15px;

    .header__logo{
        padding-bottom:0;
        
        width:43%;
        @include tablet{
            width:35%;
        }
        @include desktop-small{
            width:30%;
        }
        @include desktop-large{
            width:25%;
        }
    }

    nav{
        position:absolute;
        left:5%;
        font-size:1.2rem;

        a{
            color:$color-font-alternative;
        }

    }
}

