.site-introducer{
    text-align:center;
    background-color: $color-bg;
    padding-bottom:70px;

    &__location{
        margin:0;
        padding-top:15px;
        padding-bottom:15px;
        // Gradient de bas en haut dont le dégradé ne commence qu'à 90%.
        background: linear-gradient(to top, $color-locate-bg, $color-locate-bg 90%, darken($color-locate-bg, 12%));

        color:$color-font-alternative;
        font-weight:500;

        .restaurant-introducer__icon{
            margin-right:12px;
        }
    }

    h2{
        width: 75%;
        margin-left:auto;
        margin-right:auto;
        padding-top: 18px;
    }

    h2+p{
        width: 85%;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:48px;

        font-weight:300;
        font-size:1.1rem;
        color:$color-font-alternative;
    }

}


.functionning-steps{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:45px;
    margin-bottom: 65px;

    &__container{
        @include tablet{
            width:70%;
            margin-left:auto;
            margin-right:auto;
        }
        @include desktop-small{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        @include desktop-large{

            display:flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}


.restaurants-list{

    background-color: $color-bg;
    padding-top:30px;
    padding-bottom:30px;

    h2{
        width:90%;
        margin-left:auto;
        margin-right:auto;
    }

    &__container{
        width:90%;
        margin-left:auto;
        margin-right:auto;

        @include desktop-small{
     
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include desktop-large{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        
        }


    }
}


.restaurant-introducer{
    height:290px;
    position: relative;

    img{
        width:100%;
        height:90%;
        object-fit:cover;
    }

    h2{
        position: absolute;
        bottom:0;

        box-sizing: border-box;
        width:100%;
        margin:0;
        padding-top:32px;
        padding-left:6%;
        padding-right:10%;

        display:flex;
        flex-direction:row;
        justify-content: space-between;
        align-items:center;
       
        background-color:$color-bg;
        border-top-right-radius:40px;
        border-top-left-radius:40px;
        
        font-size:1.8rem;
        font-weight: normal;
    }

}


@keyframes appear{
    0%{
        opacity:0;
        transform:translateY(15%);
    }
    100%{
        opacity:1;
        transform:translateY(0%);
    }
}



.lists-layout{

    background-color:$color-bg;
    padding-left:4%;
    padding-right:4%;


    @include tablet{
        padding-left:8%;
        padding-right:8%;
       
    }
    @include desktop-small{
        padding-left:2%;
        padding-right:2%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 20px;
        
    }
    @include desktop-large{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    
    }
}



.dishes-list{
    padding-top:15px;
    @include desktop-small{
       width:47%;
    }
    @include desktop-large{
        width:30.5%;
    }
 

    h2,HR{
        margin-left:2%;
    }

    h2{
        font-size: 1rem;
        font-weight:400;
        color:$color-font-alternative;
        margin-bottom:0;
    }

    HR{
        width:13%;
        height:3px;
        background-color: $color-tertiary;
        border:0;
        margin-top:5px;
        margin-bottom:13px;
    }

    &__container{

        padding-bottom:1px;

 
        > .dish{
            @include async-animate(4, appear, 700ms, 200ms, ease-in-out, both );
        }

    }
}


.order-container{
    background-color:$color-bg;
    padding-top:45px;
    padding-bottom:100px;
    text-align:center;

    &__button{
        padding-left: 50px;
        padding-right:50px;
    }
}
