.site-introducer{
    text-align:center;
    background-color: $color-bg;

    &__location{
        padding-top:15px;
        padding-bottom:15px;
        // Gradient de bas en haut dont le dégradé ne commence qu'à 90%.
        background: linear-gradient(to top, $color-locate-bg, $color-locate-bg 90%, darken($color-locate-bg, 12%));
    }

    h1{
        width: 75%;
        margin-left:auto;
        margin-right:auto;
    }

    h1+p{
        width: 85%;
        margin-left:auto;
        margin-right:auto;
    }
}

.functionning-steps{
    width:90%;
    margin-left:auto;
    margin-right:auto;




    ul{
        list-style-type:none;
        padding:0;

        li{
 
            background-color: $color-bg;
            display:flex;
            flex-direction : row;
            justify-content: left;
            align-items: center;

            position:relative;
         

            padding-top:30px;
            padding-bottom:30px;
            margin-bottom:20px;
            margin-left:12px;

            .number{
                position:absolute;
                left:-12px;
                color:white;
                background-color: $color-primary;
                border-radius: 50%;
                width:24px;
                height:24px;
                display:flex;

                justify-content: center;
                align-items: center;

            
            }

            .fas{
                color:darken($color-bg,55%);
                
                margin-left:35px;
                width:12%;
                
            }

            .text{
              
            }


            &:nth-child(3){
                background-color: lighten($color-primary,31%);
                
                .fas{
                    color:$color-primary;
                }
            }

        }
        
    }



}

#restaurants-list{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}