
.button{
    border-radius: 30px;
   
    // Gradient top vers bot + légerement left vers right 
    background: linear-gradient(175deg, $color-secondary, $color-primary);
    color:white;
    padding: 15px 25px 15px 25px;

    @include box-shadow(25%);

    &:hover{
        background: linear-gradient(175deg, lighten($color-secondary, 5%), lighten($color-primary,5%) );
        @include box-shadow(40%);
    }
}