
//Animation de rotation de l'icone de validation
@keyframes rotator{
    0%{}
    100%{transform:rotate(360deg);}
}

.dish{
    background-color: white;
    @include box-shadow;
    border-radius: 16px;

    margin-bottom:16px;
    @include tablet{
        margin-bottom: 21px;
    }
    @include desktop-small{
        margin-bottom: 21px;
    }
    @include desktop-large{
        margin-bottom: 27px;
    }

    display:flex;
    flex-direction: row;
  
    
    overflow: hidden;//La partie dépassant de l'élément est masquée

    &__description{
        flex:1; //L'élément prends autant de place que possible
        overflow: hidden;
        white-space: nowrap;//pas de retour à la ligne automatique
      
        box-sizing:border-box;

        padding: 11px 13px 11px 13px;
        @include tablet{
            padding-left: 25px;
        }
        @include desktop-small{
            padding-left: 15px;
        }
        @include desktop-large{
            padding-left: 20px;
        }

      
        h3{
            margin:0;
            margin-bottom:5px;
            font-weight:500;
            
            //On cache le texte qui dépasse et on met des points de suspension
            overflow: hidden;
            text-overflow: ellipsis; 

            @include desktop{
                font-size:0.95rem;
            }
        }
        
        p{
            margin:0;
            font-weight:300;
            overflow: hidden;
            text-overflow: ellipsis; 
            
            font-size:0.95rem;
            @include desktop{
                font-size:0.81rem;
            }
        }

    }

    &__price{
        margin-right:22px;
        padding-bottom:11px;
  
        color:$color-font-alternative;
        font-weight:bold;
        display:flex;
        flex-direction:column;
        justify-content:flex-end;
        font-size:0.95rem;
    }

    &__tick{
        //Dans l'état initial l'icone de validation est masquée (car décalée à droite en dehors de l'élément)
        width:60px;
        margin-right:-60px;
        @include tablet{
            width:90px;
            margin-right:-90px;
        }
        @include desktop-small{
            width:90px;
            margin-right:-90px;
        }
        @include desktop-large{
            width:75px;
            margin-right:-75px;
        }
        
        display:flex;
        justify-content: center;
        align-items: center;
        
        background-color:$color-tertiary;
        color:white;
        font-size:1.3rem;
        
        transition: margin-right 500ms ease-in-out;
    }

    &:hover{
        
        .dish__tick{
            //L'icone de validation apparait en se décalant vers la gauche
            margin-right:0;
            
            &__icon{
                //En même temps l'icone fait une rotation sur elle même
                animation: rotator 350ms 150ms ease-in-out both; 
            }
        }
    }

}