


.step{
    display:flex;
    flex-direction : row;
    justify-content: left;
    align-items: center;
    position:relative;

    background-color: $color-bg;
    @include box-shadow;
    border-radius:22px;

    padding-top:27px;
    padding-bottom:27px;
    margin-left:12px;
    margin-bottom:22px;

    @include tablet{
        margin-bottom:30px;
    }
    @include desktop-small{
        width:45%;
        margin-bottom:30px;
    }
    @include desktop-large{
        width:30%;
        margin-bottom:30px;
    }

    &__number{
        font-size:0.9rem;
        position:absolute;
        color:white;
        background-color: $color-primary;
        border-radius: 50%;
        width:24px;
        height:24px;
        left:-12px;
        @include tablet{
            width:30px;
            height:30px;
            left:-15px;
        }
        @include desktop-small{
            width:30px;
            height:30px;
            left:-15px;
        }
        @include desktop-large{
            width:36px;
            height:36px;
            left:-18px;
        }
        display:flex;

        justify-content: center;
        align-items: center;

    
    }

    &__icon{
        font-size:1.1rem;
        color:darken($color-bg,55%);
        margin-left:35px;
        width:12%;
    }

    //Icone téléphone un peu plus gros, pour être du même ordre de taille que les autres icones
    .fa-mobile-alt{
        font-size:1.35rem;
    }


    &__text{
        font-weight: 500;
    }

    //Modificateur couleurs violettes au lieu de gris
    &--violet{
        background-color: scale-color($color-primary, $lightness: +90%);
        
        .step__icon{
            color:$color-primary;
        }
    }

}