//---------------------------------------//
// Règles générales impactant tout le site
//---------------------------------------//


body{
    margin:0;
}



.secondary-page section img{
    display:none;
}

a{
    text-decoration: none;
    color:black;
}