//--------------------------------//
// Règles générales sur les polices
//--------------------------------//


//Récupération polices : Roboto (taille 300, 400, 500 et 700) et Shrikland (1 seule taille dispo)
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.restaurant-introducer h2, footer h1{
    font-family: 'Shrikhand', cursive;
}


// Réglage taille police sur root/html pour utilisation des unités rem
html{

    font-size:map-get($base-font-size, mobile);

    @include tablet{
        font-size:map-get($base-font-size, tablet);
    }
    @include desktop-small{
        font-size:map-get($base-font-size, desktop-small);
    }
    @include desktop-large{
        font-size:map-get($base-font-size, desktop-large);
    }

}

