$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg: rgb(246, 246, 246);
$color-locate-bg:rgb(234,234,234);
$color-footer-bg:rgb(53, 53, 53);
$color-footer-font:white;


$base-font-size:medium;